.location {
	padding: 1em;
	border-radius: 12px;
	background-color: #00000040;
	box-shadow: 6px 6px 0px #00000080;
	color: #ccc;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	box-shadow: 5px 5px 10px rgba(84, 224, 91, 0.3);
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.location:hover {
	box-shadow: 6px 6px 0px #00000080, 10px 10px 10px #73a820;
}
.location_name {
	color: #73a820;
	margin: 0;
	text-align: center;
}
.location_content {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
	text-align: center;

}
.location_item b{
	color: white;
	display: block;
	font-size: medium;

}
.location_item {
	font-size: small;
	
}
@media screen and (max-width: 768px) {
	.location {
		width: 80%;
		margin: 0 auto;
	}
	.location_item b{
		font-size: small;
	}
	
}