.resident {
  border-radius: 12px;
  background-color: #64921b;
  overflow: hidden;
  box-shadow: 6px 6px 0px #00000080;
  
}
.resident:hover {
  box-shadow: 6px 6px 0px #00000080, 3px 3px 10px #9dff00;
}
.resident__image {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
}
.resident__img{
  width: 100%;
  height: 100%;
  object-position: center;
}


.resident_status{
position: absolute;
text-transform: capitalize;
top: 20px;
left: 0;
color: #ccc;
background-color: #05282e;
padding: 5px 10px;
border-radius: 0px 12px 12px 0px;
font-weight: 600;
display: flex;
align-items: center;
gap: 6px;
}
.resident__alive, .resident__dead, .resident__unknown{
 display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.resident__alive{
  background-color: #00ff00;
}
.resident__dead{
  background-color: #ff0000;
}
.resident__unknown{
  background-color: #c79409;
}
.resident_body{
  color: white;
  padding: 12px;
}
.resident_name{
  margin: 0;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 0.5em;
  color: #000;
}
.resident_item {
  color : white;
}
.resident_item b {
  color: rgb(19, 18, 18);
  
}
.loading{
 	color: #a2ce5c;
	font-size: 1em;
	text-align: center;
  
}
@media screen and (max-width: 768px) {
 .resident__image {
  height: 200px;
}
  
}